In [2]:
l1 = [9,9,9,9,9,9,9]
l2 = [9,9,9,9]

In [3]:
i = len(l1)-1
j = len(l2)-1
res, carry, temp_s = [], 0, 0

while i>=0 or j>=0 or carry:
    x = l1[i] if i >= 0 else 0
    y = l2[j] if j >= 0 else 0
    temp_s = x + y + carry

    carry = temp_s//10
    res.append(temp_s%10)

    i-=1
    j-=1

In [4]:
res

[8, 9, 9, 9, 0, 0, 0, 1]

In [1]:
class node:
    def __init__(self, val=0, next=None):
        self.val = val
        self.next = next

def convert_to_linked_list(l):
    head = node()
    i = head

    for data in l:
        i.next = node(data)
        i = i.next
    return head.next

def print_lk(head):
    temp = head
    while temp:
        print(temp.val, end=" ->")
        temp = temp.next
    print("end")


def add_two_nums(l1, l2):
    head = node()
    temp, carry = head, 0

    while l1 or l2 or carry:
        x = l1.val if l1 else 0
        y = l2.val if l2 else 0
        total = x+y+carry

        carry = total//10
        temp.next = node(total%10)
        temp = temp.next

        if l1:
            l1 = l1.next
        if l2:
            l2 = l2.next
    return head.next

l1 = convert_to_linked_list([2,4,3])
l2 = convert_to_linked_list([5,6,4])

print_lk(l1)
print_lk(l2)
r = add_two_nums(l1,l2)
print_lk(r)

2 ->4 ->3 ->end
5 ->6 ->4 ->end
7 ->0 ->8 ->end

In [ ]:
l1 = convert_to_linked_list([1,2,4])
l2 = convert_to_linked_list([1,3,4])

print_lk(l1)
print_lk(l2)

1 ->2 ->4 ->end
1 ->3 ->4 ->end

In [ ]:
def merge(l1,l2):
    head = node()
    temp = head

    while l1 and l2:
        if l1.val <= l2.val:
            temp.next = l1
            l1 = l1.next
        else:
            temp.next = l2
            l2 = l2.next
        temp = temp.next
    temp.next = l1 if l1 else l2
    return head.next
merge(l1,l2)

In [7]:
def remove_dupes(nums):
    if not nums:
        return 0
    if len(nums) == 1:
        return 1
    k = 1
    for i in range(1,len(nums)):
        if nums[i] != nums[i-1]:
            nums[k] = nums[i]
            k += 1
    print(nums)
    return k
remove_dupes([0,0,1,1,1,2,2,3,3,4])

[0, 1, 2, 3, 4, 2, 2, 3, 3, 4]

5

In [10]:
def removeElement(nums, val: int) -> int:
    k = 0
    for i in range(0, len(nums)):
        if nums[i] != val:
            if k!=i:
                nums[k] = nums[i]
            k+=1
    print(nums)
    return k
removeElement([3,2,2,3], 3)

[2, 2, 2, 3]

2

In [3]:
n = 2
ans = [[1], [1,1], [1,2,1], [1,3,3,1], [1,4,6,4,1], [1,5,10,10,5,1]]

print(ans[0:4])
# consecutive additions

[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1]]

In [ ]:
n = 1
def pascal(n):
    ans = [[1], [1,1]]
    if n == 1 or n == 2: return ans[0:n]
    for k in range(n-2):
        ref = ans[-1] # pick last item to calculate the upcoming value
        temp = [1] # pascal triangle starts with 1
        
        for i in range(0, len(ref)-1):
            temp.append(ref[i]+ref[i+1])
        temp.append(1)
        ans.append(temp)
        # temp = []
    return ans

res = pascal(n)
res
# ans = [[1], [1,1]]
# ans[0:2]

[[1]]

In [ ]:
"""
n = 0 -> [1]
n = 1 -> [1,1]
n = 2 -> [1,2,1]
n = 3 -> [1,3,3,1]
n = 4 -> [1,4,6,4,1]
"""

In [ ]:
rowIndex = 3
def new_pascal(rowIndex):
    ans = [[1], [1,1]]
    if rowIndex == 0 or rowIndex == 1: return ans[rowIndex]
    n = rowIndex # rowIndex - 1
    while n > 0:
        ref = ans[-1]
        temp = [1]
        for i in range(0, len(ref)-1):
            temp.append(ref[i] + ref[i+1])
        temp.append(1)
        ans.append(temp)
        n -= 1
    return ans[rowIndex] # [-1]
res = new_pascal(rowIndex)
res

[1, 3, 3, 1]

In [ ]:
s = "a b c 1 2 3"
s = "".join([ch.lower() for ch in s if ch.isalnum()])
s

'abc123'

In [3]:
s= "1 a b c"
"".join(list(s))

'1 a b c'

In [7]:
l = convert_to_linked_list([1,2,3,4])
temp = l
ref = l
n = 1
while temp:
    print(f"{temp.val} at {temp}")
    if n == 2: 
        ref = temp
        break
    temp = temp.next
    n+=1
ref

1 at <__main__.node object at 0x000001F4CE319010>
2 at <__main__.node object at 0x000001F4CE338E90>

In [8]:
head = ref
while head:
    print(head.val)
    head = head.next

2
3
4

In [22]:
# text = "A"
text = "AB"
# text = "Z"

In [25]:
ans = 0
for char in text:
    ans = (ans*26) + (ord(char) - ord("A") + 1)
    print(ans)

1
28

In [ ]:
s = 4
# (4 >> 1) & 1
0 << (31-1)

0

In [17]:
x = '00000000000000000000000000000100'
# x[::-1]
len(x)

32

In [16]:
n = 4
res = ""
while n>0:
    res = str(n%2) + res
    n //= 2
res = res.zfill(32)
res

'00000000000000000000000000000100'

In [18]:
x = 0
for i in range(32):
    x = x + (int(res[i]) * (2**i))
x

536870912

In [3]:
n = 10 # op = 2 count no.of 1s
res = 0
for _ in range(32):
    if (n&1) == 1: res+=1
    n = n >> 1
res

2

In [4]:
def isIsomorphic(s: str, t: str) -> bool:
    if len(s) != len(t): return False
    d, i = {}, 0
    
    while i < len(s):
        if s[i] not in sd: sd[s[i]] = t[i]
        elif s[i] in sd and sd[s[i]] != t[i]: return False
        if t[i] not in td: td[t[i]] = s[i]
        elif t[i] in td and td[t[i]] != s[i]: return False
        i+=1
    return True

In [5]:
s = "badc"
t = "baba"

# sd, td, i = {}, {},  0

# while i < len(s):
#     if s[i] not in sd: sd[s[i]] = t[i]
#     elif s[i] in sd and sd[s[i]] != t[i]: print(False)
#     if t[i] not in td: td[t[i]] = s[i]
#     elif t[i] in td and td[t[i]] != s[i]: print(False)
#     i+=1
# print(True)
isIsomorphic(s,t)

False